body{
    background-color: #ccccff;
    text-align:center;
    width: 60%;
    margin:auto;
}
h1{
    color: #ff9999;
    padding:10px;
    margin:20px;
    margin-bottom:50px;
    border: 7.5px solid white;
}
form{
    border:3.5px solid white;
    padding:15px;
}
table{
    border:3.5px solid white;
    padding:20px;
    margin:20px;
    display:grid
}
th{
    padding: 15px;
    margin:20px;
    color: #ff9999;
}
